*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#container{
    height: 550.5px;
    width: 550.5px;
    border: 0.5px solid black;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
}

.gridElement.active{
    background-color: black;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
}