*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding-top: 100px;
    padding-left: 50px;
    gap: 100px;
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#container{
    height: 550.5px;
    width: 550.5px;
    border: 0.5px solid black;
    box-shadow: 5px 5px 20px lightgrey;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
}

.gridElement.active{
    background-color: black;
}
h2{
    align-self: center;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul{
    list-style-type: none;
}