*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding-top: 100px;
    padding-left: 50px;
    gap: 100px;
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#container{
    height: 550.5px;
    width: 550.5px;
    border: 0.5px solid black;
    box-shadow: 5px 5px 20px lightgrey;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
}

.gridElement.active{
    background-color: black;
}

#reset, #changeGridSize, #black-mode, #color-mode{
    width: 100%;
}
.settings{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button{
    border: none;
    color: rgb(82, 79, 79);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 5px;
}


button:hover{
    cursor: pointer;
}

ul{
    list-style-type: none;
}